@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.Container {
  display: grid;
  align-items: flex-start;
  grid-template-columns: minmax(min-content, 200px) 1fr;
  gap: 0.5rem;
  padding: 0.5rem;
}


.ais-Hits-list {
  display: grid;
  gap: 3rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}